@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Ubuntu:wght@400;700&display=swap');
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */


html{
    font-size: 18px; 
 }
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    background: #81c9a7;
}

h1{
    text-align: center;
    font-family: 'Ubuntu' 700, sans-serif;
    font-size: 1.2rem;


}

img {
    max-width: 100%;
}


nav {
    background-color: #6699FF;
    line-height: 70px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
}


nav a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;  /* transforma o texto em maiúsculas, minúsculas ou apenas a primeira letra maiúscula */
    padding: 1rem 1rem;
    transition: all 0.8s;
    font-size: 1.4rem;
    font-family:'Ubuntu700';
    border-radius: 20px;
    font-weight: normal;
}

nav a:hover, nav a:active {
    color: #6699FF;
    text-shadow: rgb(121, 236, 156) 30px 10px 20px; /* sombra no texto - valores na ordem: cor, desloc. horizontal, desloc. vertical, suavização da sombra */
    background-color: #81c9a7;
}

.destaque{
    height: 700px;
    background-color: #6699FF ;
}

footer {
    color: #fff;
    background-color: #3bbF82;
    text-align: center;

}

.colunas {
    display: flex;
    flex-wrap: wrap; /* determina quebra de conteúdo flexbox */
    justify-content: space-between;
    background-color: #81c9a7 ;

}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    width: 100%;
    margin: 10px;
  
}



/* .form label {
    font-weight: bold;
    border-bottom: 1px solid #300040;
    margin-bottom: 20px;
    width: 20%;
    display: block; /*Transforma o conteúdo em um bloco*/
 /*   display: inline-block; 
} /*Caso a porcentagem não funcione, se dá por motivo de display inline block*/




/*  pagina infancia    */


.tar1, .tar2, .tar3{
    background-color: #3bbF82;
    width: 98%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    text-align: justify;
    
    
    
}



@media screen and (min-width: 760px) {

    
    .colunas {
        display: flex;
        flex-wrap: wrap; /* determina quebra de conteúdo flexbox */
        justify-content: space-between;
        background-color: #81c9a7 ;
    }
        .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {

            width: 30.5%;
            margin: 10px;
        }

        .destaque{ 
        height: 1250px;
        }
    }